NODE_ENV=development
PORT=8080
DATABASE_URL=postgresql://user:password@localhost:5432/truthstake
JWT_SIGNING_SECRET=
CORS_ORIGIN=http://localhost:3000
TRUTHSTAKE_CONTRACT_ADDRESS=0x02e8ce1Eb09D689e51c555490BfDC6CAd922C8b3
GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_CHAIN_ID=61999
